appdirs==1.4.4
asgiref==3.3.1
distlib==0.3.1
dj-database-url==0.4.2
Django==3.1.14
django-mathfilters==1.0.0
filelock==3.0.12
gunicorn==20.0.4
psycopg2-binary==2.8.6
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
virtualenv==20.2.2
virtualenvwrapper-win==1.2.6
whitenoise==5.2.0
Pillow==9.0.0
