{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
    <title>Neb's Bakery</title>
</head>
<body>
    <header class="landing-header">
        <nav class="navbar">
            <img src="{% static 'main/imgs/logo-png.png' %}" class="logo">
            <ul class="navbar-nav">
                <li class="nav-link">BREAD</li>
                <li class="nav-link">CAKES</li>
                <li class="nav-link">PASTRY</li>
                <li class="nav-link">COOKIES</li>
                <li class="nav-link">MOROCCAN</li>
            </ul>
        </nav>
        <div class="nav-icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="landing-image">
        <img src="{% static 'main/imgs/Screenshot 2020-11-09 at 16.52.51.png' %}" class="landing-img">
    </div>
    <div class="categories-3">
        <div class="first-cat">
            <img src="{% static 'main/imgs/special-cakes.jpg' %}" class="pic-cat">
            <div class="cat-text">
                <h2>Make Booking</h2>
                <p>Eating raw fish didn't sound like a good idea. "It's a delicacy in Japan," didn't seem to make it any more appetizing. Raw fish is raw fish, delicacy or not.</p>
            </div>
        </div>
        <div class="second-cat">
            <img src="{% static 'main/imgs/breakfast.jpg' %}" class="pic-cat">
            <div class="cat-text">
                <h2>Brunch</h2>
                <p>Eating raw fish didn't sound like a good idea. "It's a delicacy in Japan," didn't seem to make it any more appetizing. Raw fish is raw fish, delicacy or not.</p>
            </div>
        </div>
        <div class="third-cat">
            <img src="{% static 'main/imgs/bread.jpg' %}" class="pic-cat">
            <div class="cat-text">
                <h2>Daily Items</h2>
                <p>Eating raw fish didn't sound like a good idea. "It's a delicacy in Japan," didn't seem to make it any more appetizing. Raw fish is raw fish, delicacy or not.</p>
            </div>
        </div>
    </div>
    <div class="offers">
        <img src="{% static 'main/imgs/Screenshot 2020-11-09 at 16.57.20.png' %}" class="offers-pic">
        <div class="offers-text">
            <h2>Daily Offers</h2>
            <div class="line"></div>
            <p class = "offers-paragraph">Eating raw fish didn't sound like a good idea. "It's a delicacy in Japan," didn't seem to make it any more appetizing. Raw fish is raw fish, delicacy or not.</p>
            <button class="btn btn-purple">Explore</button>
        </div>
    </div>
    <div class="best-sellers">
        <h3>best deals for you</h3>
        <h2>CUPS OF CUTENESS</h2>
        <div class="line"></div>
        <p class = "offers-paragraph">Eating raw fish didn't sound like a good idea. "It's a delicacy in Japan," didn't seem to make it any more appetizing. Raw fish is raw fish, delicacy or not.</p>
        <div class="best-sellers-grid">
            <div class="card">
                <img src="{% static 'main/imgs/png plate.png' %}" class="food-best">
                <div class="item-name">Brunch</div>
                <div class="item-price">30DHS</div>
                <button class="btn">Add To Cart</button>
            </div>
            <div class="card">
                <img src="{% static 'main/imgs/png-cookies.png' %}" class="food-best">
                <div class="item-name">Cookies</div>
                <div class="item-price">20DHS</div>
                <button class="btn">Add To Cart</button>
            </div>
            <div class="card">
                <img src="{% static 'main/imgs/png-milkshake.png' %}" class="food-best">
                <div class="item-name">Milkshake</div>
                <div class="item-price">25DHS</div>
                <button class="btn">Add To Cart</button>
            </div>
            <div class="card">
                <img src="{% static 'main/imgs/png-burgers.png' %}" class="food-best">
                <div class="item-name">Mini Burgers</div>
                <div class="item-price">35DHS</div>
                <button class="btn">Add To Cart</button>
            </div>
            <div class="card">
                <img src="{% static 'main/imgs/png-bread.png' %}" class="food-best">
                <div class="item-name">Bread</div>
                <div class="item-price">7DHS</div>
                <button class="btn">Add To Cart</button>
            </div>
            <div class="card">
                <img src="{% static 'main/imgs/png-macarons.png' %}" class="food-best">
                <div class="item-name">Macarons</div>
                <div class="item-price">50DHS</div>
                <button class="btn">Add To Cart</button>
            </div>
        </div>
    </div>
</body>
</html>