{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Neb's Bakery</title>
</head>
<body>
    <div class="top-bar">
        <a href="{% url 'index' %}">
            <img src="{% static '/imgs/logo-png.png' %}" class="logo">
        </a>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-link"><a href="{% url 'display' cat='Bread'%}" >BREAD</a></li>
                <li class="nav-link"><a href="{% url 'display' cat='Cake'%}" >CAKES</a></li>
                <li class="nav-link"><a href="{% url 'display' cat='Pastry'%}">PASTRY</a></li>
                <li class="nav-link"><a href="{% url 'display' cat='Cookies'%}" >COOKIES</a></li>
                <li class="nav-link"><a href="{% url 'display' cat='Moroccan'%}">MOROCCAN</a></li>
                <li class=" nav-link-icons">
                    <li class="nav-link"><a href="#" target="">
                        <div class="search-box">
                            <form action="/se arch" method="get">
                                <input class="search-txt" type="search" name="query" id = "query" placeholder="Type to Search">
                                <button type = "submit" class="search-btn"><i class="fas fa-search search-box-icon"></i></button>
                            </form>
                        </div>
                    </a></li>
                    <li class="nav-link"><a href="{% url 'shoppingcart:index' %}" target="_blank"><i class="fas fa-shopping-cart"></i></a></li>
                </li>
            </ul>
        </nav>
    </div>
    <!--MAKE IT A CAROUSEL IF TIME LEFT-->
    <div class="carousel">
        
    </div>

    <div class="categories-3">
        <div class="first-cat">
            <img src="{% static 'imgs/special-cakes.jpg' %}" class="pic-cat">
            <div class="cat-text">
                <h2>Make Booking</h2>
                <p>Eating raw fish didn't sound like a good idea. "It's a delicacy in Japan," didn't seem to make it any more appetizing. Raw fish is raw fish, delicacy or not.</p>
            </div>
        </div>
        <div class="second-cat">
            <img src="{% static 'imgs/breakfast.jpg' %}" class="pic-cat">
            <div class="cat-text">
                <h2>Brunch</h2>
                <p>Eating raw fish didn't sound like a good idea. "It's a delicacy in Japan," didn't seem to make it any more appetizing. Raw fish is raw fish, delicacy or not.</p>
            </div>
        </div>
        <div class="third-cat">
            <img src="{% static 'imgs/bread.jpg' %}" class="pic-cat">
            <div class="cat-text">
                <h2>Daily Items</h2>
                <p>Eating raw fish didn't sound like a good idea. "It's a delicacy in Japan," didn't seem to make it any more appetizing. Raw fish is raw fish, delicacy or not.</p>
            </div>
        </div>
    </div>

    <div class="custom-shape-divider-bottom-1607388473">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>

    <div class="best-sellers-container">
        <div class="best-sellers">
            <h3>best deals for you</h3>
            <h2>CUPS OF CUTENESS</h2>
            <div class="line"></div>
            <p class = "offers-paragraph">Eating raw fish didn't sound like a good idea. "It's a delicacy in Japan," didn't seem to make it any more appetizing. Raw fish is raw fish, delicacy or not.</p>
            <div class="best-sellers-grid">
                {%for item in list %}
                <div class="card">
                    <li class="item-image"><img src="{% static item.picture|cut:'main/static' %}" alt="" srcset=""></li>
                    <div class="item-name">{{item.name}}</div>
                    <div class="item-price">{{item.price}}</div>
                    <form method="POST" action="{% url 'shoppingcart:index' %}">
                        <!-- <input type="text" value ='{{ item.id }}'>-->
                        {% csrf_token %}
                        <input type="hidden" name="product" value='{{ item.id }}'>
                        <!--{{ form }}-->
                     <input type ="submit" class="btn btn-display" value="Add to Cart"></input>
                     </form>
                   
                </div>
                {% endfor %}
            </div>
    </div>
    <div class="info">
        <div class="info-item">
            <i class="far fa-2x fa-clock"></i>
            <h3>HOURS OF OPERATION</h2>
            <span>Mon to Fri: 8:00am - 6:00pm</span>
            <span>Sat to Sun: 8:00am - 1:00pm</span>
        </div>
        <div class="info-item">
            <i class="fas fa-2x fa-map-marked-alt"></i>
            <h3>OUR LOCATION</h2>
            <span>1234 First Avenue</span>
            <span>New Haven, CT 06509</span>
        </div>
        <div class="info-item">
            <i class="fas fa-2x fa-mobile-alt"></i>
            <h3>GET IN TOUCH</h2>
            <span>Phone #: 203-123-6789</span>
            <span>Email: contact@backery.com</span>
        </div>
    </div>
    <footer>© Nebs Bakery 2020</footer>
    
</body>
</html>