@charset "utf-8";


/*html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  background-color: #fff;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
}
*/
/*a {
  border: 0 none;
  outline: 0;
  text-decoration: none;
}*/

body {
    background-color: white;
}

.top-bar {
    background-color: #f1dfd1;
}

strong {
  font-weight: bold;
}

p {
  margin: 0.75rem 0 0;
}

h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.basket{
    background-color: #fff;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 4px 2px 4px 2px;  
    margin-bottom: 80px;
    border: 1px solid rgb(199, 197, 197);
    border-top-color: rgba(245, 151, 148, 0.863);
    border-top-width: 3px;
}

.quantity {
  display: flex;
  flex-direction: row;
}

.buttonadd{
  background-color: #f1dfd1;
  cursor:pointer;
  padding: 10px;
}

input,
button {
  border: 0 none;
  outline: 0 none;
}


.checkout-cta:hover,
.checkout-cta:focus,
.buttonadd:hover {
    color: rgba(245, 151, 148, 0.863);
    background-color: whitesmoke;
}

.basket-labels,
.basket-product {
  width: 100%;
}

input,
button,
.basket,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
  float: left;
}

.price:before,
.subtotal:before,
.subtotal-value:before,
.total-value:before {
  content: 'DHS ';
}

.hide {
  display: none;
}

main {
  clear: both;
  font-size: 0.75rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  width: 960px;
}

.shopping-title {
    display: flex;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: large;
    padding: 25px 25px 25px 10px;
    width: 97.75%;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 28px;
}

.basket,
aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket {
  width: 70%;
}


label {
  display: block;
  margin-bottom: 0.3125rem;
}


.basket-labels {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1.625rem;
}

.basket-labels ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.basket-labels li {
  color: #111;
  display: inline-block;
  padding: 0.625rem 0;
}

li.price:before,
li.subtotal:before {
  content: '';
}

.item {
  width: 55%;
}

.price,
.quantity,
.subtotal {
  width: 15%;
}

.subtotal {
  text-align: right;
}

.remove {
  bottom: 1.125rem;
  float: right;
  position: absolute;
  right: 0;
  text-align: right;
  width: 45%;
}

.remove button {
  background-color: transparent;
  color: #777;
  float: none;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
}

.item-heading {
  padding-left: 4.375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket-product {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  position: relative;
}

.product-image {
  width: 35%;
}

.product-details {
  width: 65%;
}

.product-frame {
  border: 1px solid #aaa;
}

.product-details {
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.quantity-field {
  background-color: white;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 10px;  
  width: 3rem;
  text-align: center;  
}

aside {
  float: right;
  position: relative;
  width: 30%;
}

.summary {
 background-color: #fff;
  border: 1px solid #aaa;
  padding: 1rem;
  /*position: fixed;*/
  width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.summary-total-items {
  color: #666;
  font-size: 0.875rem;
  text-align: center;
}

.summary-subtotal,
.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-value {
  color: #111;
  float: left;
  width: 50%;
}


.summary-delivery {
  padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
  text-align: right;
}

.total-title {
  font-weight: bold;
  text-transform: uppercase;
}

.checkout-cta {
  display: block;
  background-color: #f1dfd1;
  color:rgba(0, 0, 0, 0.74);
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.checkout-cta {
  display: block;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}

.summary-delivery-selection {
  cursor: pointer;
  background-color: f1dfd1;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 900px) {
  aside,
  .basket,
  .item,
  .remove,
  .shopping-title {
    width: 100%;
  }
  .summary {
    width: 100%;
    margin-bottom: 80px;
  }
  .basket-labels {
    display: none;
  }


  .item {
    margin-bottom: 1rem;
  }
  .product-image {
    width: 40%;
  }
  .product-details {
    width: 60%;
  }
  .price,
  .subtotal {
    width: 33%;
  }
  .quantity {
    text-align: center;
    width: 34%;
  }
  .quantity-field {
    float: none;
  }
  .remove {
    bottom: 0;
    text-align: left;
    margin-top: 0.75rem;
    position: relative;
  }
  .remove button {
    padding: 0;
  }
  .summary {
    margin-top: 1.25rem;
    position: relative;
  }
}

input[type=text] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 4px;
}

input[type=text]:focus {
    border: 1.5px solid #555;
}

@media screen and (min-width: 900px) and (max-width: 960px) {
  aside {
    padding: 0 1rem 0 0;
  }
  .summary {
    position: relative;
    margin-left: 10px;
  }
  
}

@media screen and (max-width: 960px) {
  main {
    width: 100%;
  }
  .product-details {
    padding: 0 2.75rem;
  }
  .summary {
    margin-bottom: 80px;
  }

  .basket{
      margin-bottom: 10px;
  }
}