*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
}

html{
    background-color: #f1dfd1;
}


.top-bar{
    padding: 20px 15px;
    width: 100%;
    /*
    position: -webkit-sticky;
    position: sticky;
    background-color: #f1dfd1;
    top: 0;
    */
}

.logo{
    display:block;
    margin:auto;
    height: 70px;
    margin-bottom: 25px;
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: -40px;
    font-family: sans-serif;

}

.nav-link{
    margin-right: 25px;
}

.nav-link-icons{
    margin-left: 40px;
}

.nav-link-icons li a i{
    margin-right: 15px;
}

.carousel{
    height: 400px;
    width: 80%;
    background: url(/static/imgs/carousel-img1.jpg) no-repeat center center;
    background-size: cover;
    display: block;
    margin: auto;
}


.categories-3{
    margin-top: 50px;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 140px;
}

.categories-3 img, .cat-text{
    width: 24.7vw;
    margin-right: 3vw;
    text-align: center;
}

.cat-text h2{
    margin-top: 10px;
    font-family: sans-serif;
}

.cat-text p{
    margin-top: 5px;
    font-size: 15px;
    font-family: sans-serif;
}

.best-sellers-container{
    background-color: #FFFFFF;
}

.best-sellers{
    padding: 10px;
    font-family: sans-serif;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-sellers-grid{
    margin-top: 40px;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
}

.card{
    height: 250px;
    margin: 10px;
    padding: 15px;
}

.food-best{
    margin-top: 25px;
    height: 80px;
}

.btn{
    margin-top: 15px;
    width: 150px;
    border: none;
    /*border: 2px solid rgba(0, 0, 0, 0.74);-->*/
    background-color: #f1dfd1;
    /*color: rgba(0, 0, 0, 0.74);*/
    padding: 14px 19px;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

.btn:hover{
    color: rgba(245, 151, 148, 0.863);
    background-color: whitesmoke;
}

.custom-shape-divider-bottom-1607388473 {
    margin-top: -150px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1607388473 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 164px;
}

.custom-shape-divider-bottom-1607388473 .shape-fill {
    fill: #FFFFFF;
}

.info{
    margin-top: -50px;
    background-color: whitesmoke;
    padding: 60px;
    display: flex;
    justify-content: space-around;
}

.info-item{
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
}

.info-item i{
    color: rgba(245, 151, 148, 0.863);
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.info-item h3{
    color: rgba(0, 0, 0, 0.74);
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.info-item span{
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.74);
}

footer{
    background-color:#f1dfd1;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: rgba(245, 151, 148, 0.863);
}

@media all and (max-width:1000px){
    .best-sellers-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (max-width:700px){
    .best-sellers-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .info{
        flex-direction: column;
    }
    .info-item{
        margin-bottom: 40px;
    }
}
